# Default values for volumez-csi.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
envId: ""

vlzCsiDriver:
  repository: public.ecr.aws/u0q8u2v6/volumez-csi
  tag: v1.1.4
  fsGroupPolicy: File

vlzAdmissionWebhook:
  repository: public.ecr.aws/u0q8u2v6/vlz-admission-webhook
  tag: v1.0.1

vlzSnapshotRollbackController:
  repository: public.ecr.aws/u0q8u2v6/vlz-snapshotrollback-controller
  tag: v1.0.1

vlzEndpoint:
  # <custom-id>.execute-api.<region>.amazonaws.com
  apiUrl: api.volumez.com
  # "dev"
  basePath: ""
  # <websocket-id>
  websocketId: ""

# CSI Driver Token (Refresh Token)
vlzAuthToken: ""
verboseLevel: 0

vlzConnector:
  repoUrl: https://signup.volumez.com/connector/
  # empty if .vlzEndpoint.websocketId is set
  domain: connector.volumez.com

k8s:
  attacherVer: "v3.4.0"
  registrarVer: "v2.3.0"
  provisionerVer: "v3.0.0"
  snapshotter: "v5.0.1"
  snapshotController: "v4.2.1"

csiAttacherVlzplugin: 
  tolerations: 
  nodeSelector:
    
csiNodeVlzplugin:
  tolerations:
  nodeSelector:

certmanager:
  namespace: vlz-cert-manager
  installCRDs: true
